@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Kaiser Inventory Managment App</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <p>This is the inventory managment system.  I will fill this page out later. </p>
    <p>Will add instructions and possiable buttons to send things like reports and take you to forms
        I will also add instructions at the end of the project.
    </p>
</div>
